<div class="row align-center">
  <h1>Welcome to PlantApp</h1>
  <h3>Get connected with other plant lovers and create posts of your own!</h3>
</div>
<div class="row align-center">
  <a href ="/plants">Click here to begin</a>
</div>