<div class="row align-center">
  <h1>Welcome to PlantApp</h1>
  <h4>Get connected with other plant lovers and create posts of your own!</h4>
  <div class="loading-img">
    <img src="<%= asset_path('plant-family.JPG') %>">
  </div>
</div>
<div class="row align-center">
  <a href ="/plants">Click here to begin</a>
</div>
