@import 'colors';

.card-images {

  border-radius: .5rem;
  img {
    border: solid;
    max-height: 15rem;
    max-width: 12rem;
    margin-left: 2rem;

  }

  p {
    text-align: left;
    padding: .2rem;
    margin-right: 3rem;
  }
}

.dropzone {
  text-align: center;
  padding: 3rem;
  border: 0.063rem grey dashed;
  background: #ffffff;
}

.error {
    color: red;
}

