@import 'colors';

.plant-wrap {
  max-width:490px;
  background: #fff;
  margin: 0 auto;
  margin-top: 50px;
  border-radius:3px;
  padding: 30px;
  border-bottom: 1px solid #e6ecf0;
  border-top: 1px solid #e6ecf0;
}

.plant-info {
  font-weight:normal;
  margin-top: 5px;
  margin-left: 2rem;
  img {
    max-height: 15rem;
    max-width: 10rem;
  }
}